@model GroupFlightPlanner.Models.AirlineDto
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Airline</h2>

<form action="/Airline/Update/@Model.AirlineId" method="POST">
    <div>
        <input type="text" name="AirlineId" value="@Model.AirlineId" style="display:none" />
    </div>
    <div class="mb-2">
        <label>Name Airline : </label> <input type="text" name="AirlineName" value="@Model.AirlineName" class="input-forms" id="AirlineName" data-val="true" data-val-required="Please Update the Airline Name." />

        @Html.ValidationMessageFor(model => model.AirlineName, "", new { @class = "text-danger", data_valmsg_for = "AirlineName" })
    </div>
    <div class="mb-2">
        <label>Country : </label> <input type="text" name="Country" value="@Model.Country" class="input-forms" id="Country" data-val="true" data-val-required="Please Update the Country." />

        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger", data_valmsg_for = "Country" })
    </div>
    <div class="mb-2">
        <label>Headquarters : </label> <input type="text" name="Headquarters" value="@Model.Headquarters" class="input-forms" id="Headquarters" data-val="true" data-val-required="Please Update the Headquarters." />

        @Html.ValidationMessageFor(model => model.Headquarters, "", new { @class = "text-danger", data_valmsg_for = "Headquarters" })
    </div>
    <div class="mb-2">
        <label>Founder : </label> <input type="text" name="FounderName" value="@Model.FounderName" class="input-forms" id="FounderName" data-val="true" data-val-required="Update the Founder Name." />

        @Html.ValidationMessageFor(model => model.FounderName, "", new { @class = "text-danger", data_valmsg_for = "FounderName" })
    </div>
    <div class="mb-2">
        <label>Founding Year : </label> <input type="date" name="FoundingYear" value="@Model.FoundingYear.Date.ToString("yyyy-MM-dd")" class="input-forms" id="FoundingYear" data-val="true" data-val-required="Please Update the Founding Year." />

        @Html.ValidationMessageFor(model => model.FoundingYear, "", new { @class = "text-danger", data_valmsg_for = "FoundingYear" })
    </div>
    <div class="mb-2">
        <label>Website : </label> <input type="text" name="Website" value="@Model.Website" class="input-forms" id="Website" data-val="true" data-val-required="Please Update the Website of the Airline." />

        @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger", data_valmsg_for = "Website" })
    </div>
    <div class="mb-2">
        <label>Contact Number : </label> <input type="tel" name="ContactNumber" value="@Model.ContactNumber" class="input-forms" id="ContactNumber" data-val="true" data-val-required="Please Update the Contact Number." />

        @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger", data_valmsg_for = "ContactNumber" })
    </div>

    <div>
        <input type="submit" value="Update Airline" class="btn btn-primary" />

    </div>
</form>