@model GroupFlightPlanner.Models.ViewModels.DetailsEvent
@{
    ViewBag.Title = "Details";
}

<a href="/Event/List">Back To List</a>
<h2>@Model.SelectedEvent.EventName</h2>
<div>Organization: @Model.SelectedEvent.OrganizationName</div>
<div>Location: @Model.SelectedEvent.LocationName</div>
<div>Registration Website: @Model.SelectedEvent.registrationWebsite</div>

<div>

    </br>
    <h4>Participated Groups for @Model.SelectedEvent.EventName:</h4>
    @foreach (var group in Model.ResponsibleGroups)
    {

        <a href="/Group/Details/@group.GroupId">@group.GroupName</a> <a style="color:#ab2020;" href="/Event/Unassociate/@Model.SelectedEvent.EventId?GroupId=@group.GroupId">[x]</a><br />
    }

    <div>
        </br>
        <h4>Add new Group to join in  @Model.SelectedEvent.EventName</h4>
        <form method="POST" action="/Event/Associate/@Model.SelectedEvent.EventId">
            <select name="GroupId">
                @foreach (var group in Model.AvailableGroups)
                {
                    <option value="@group.GroupId">@group.GroupName</option>
                }

            </select>
            </br>
            <input type="submit" value="Associate Group" />
        </form>
    </div>

</div>

<div>
    <a href="/Event/Edit/@Model.SelectedEvent.EventId">Edit Event</a>
</div>
<a href="//@Model.SelectedEvent.registrationWebsite">Go to registration site </a>

